@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
}

.navSection {
  width: 20%;
  z-index: 2;
}

.pageSection {
  width: 80%;
  font-family: 'Lato', sans-serif;
  padding-bottom: 10%;
}

@media only screen and (max-width: 767px) {
  .navSection {
    width: 0;
  }

  .pageSection {
    width: 100%;
    padding-bottom: 25%;
  }
}

.errorMessage {
  color: red;
  padding-bottom: 20px;
}
