.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 50px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-right: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: flex-start;
}

.text-container p {
  color: black;
  font-size: 20px;
}

.text-container h1 {
  color: black;
  font-size: 25px;
  text-align: end;
}

.text-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 30px;
}

.text-container ul li {
  padding: 10px 30px;
  margin: 5px 2px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.text-container ul li:nth-child(odd) {
  background-color: #80808062;
}

.apr-text {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.reserve-button a{
  margin: 10px 40px;
}
.reserve-button a,
.back-button a {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  background-color: #97bf0f;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
.back-button a{
  margin-left: 90px;
}

@media only screen and (min-width: 768px) {
  /* Desktop Styles */
  .container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 20px 50px;
    width: 100%;
  }

  .content-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-container {
    background-color: white;
    padding: 30px 100px;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    margin-right: 70px;
  }

  .image img {
    border-radius: 10px;
  }

  .text-container {
    align-items: flex-start;
    margin-top: 0;
  }

  .text-container p {
    color: black;
    font-size: 20px;
  }

  .text-container h1 {
    color: black;
    font-size: 25px;
    text-align: end;
  }

  .text-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .text-container ul li {
    padding: 10px 30px;
    margin: 5px 2px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .text-container ul li:nth-child(odd) {
    background-color: #80808062;
  }

  .apr-text {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .reserve-button a,
  .back-button a {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #97bf0f;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .reserve-button a {
    margin: 10px 60px;
    border-radius: 30px;
  }
  .back-button a {
    margin-left: 120px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
